<div class="log-container">
    <!--lado izquierdo de la pantalla del login-->
<div class="left">
    <div>
        <h1 class="title">Iniciar Sesión</h1>
        <p class="parrafo">Nos alegra tenerte de vuelta y estamos listos para <br>
            atender tus necesidades. Inicia sesión y continúa <br>
            aprovechando al máximo nuestra plataforma.</p>
        <ul>
            <li class="icon1">Monitoreo integral en tiempo real</li>
            <li class="icon2">Notificaciones instantaneas</li>
        </ul>
    </div>
</div>
<!--caja del registro-->
<div *ngIf="isLogged; else loggedOut" class="register"></div>
<!--lado derecho de la pantalla del login -->
<div class="rigth">
<ng-template #loggedOut>
        <div class="card">
            <div class="card-body">
                <h1 class="portal">portal de monitoreo</h1>
                <h2 class="sesion">iniciar sesion</h2>
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    <div class="form-group">
                        <label for="nombreusuario">Email</label>
                        <input type="text" name="nombreusuario" id="nombreusuario" class="form-control"
                        [(ngModel)]="nombreUsuario" placeholder="ingrese su Email"   required>
                    </div> 
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" class="form-control"
                        [(ngModel)]="password" placeholder="ingrese su Contraseña" required>
                    </div>
                    <p>¿olvidaste tu Contraseña?</p>
                    <button class="btn" [disabled]="!f.valid">
                        Iniciar Sesión</button>
                </form>
                <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">
                    Error de login
                </div>    
            </div>
        </div>
</ng-template>
</div>
</div>

