<div class="row">
<div class="panelItems">
    <section class="generales">
            <mat-card appearance="outlined" class="generales2">
                <mat-card-header class="header">
                    <div class="texto-espacio">
                        <div>Temperatura</div>
                        <div class="numeros-cards-ultimas">
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                            class="check-item"><p>100</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                            class="exclamación-item"><p>20</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                            class="peligro-item"><p>30</p></div>
                        </div>
                    </div>
                    <img src="https://img.icons8.com/?size=30&id=SQ8e0DfA2qsj&format=png&color=4a4aff" alt="default-item"
                    class="default-item">
                </mat-card-header>
                    <mat-card-content>
                </mat-card-content>
            </mat-card>

            <mat-card appearance="outlined" class="generales2">
                <mat-card-header class="header">
                    <div class="texto-espacio">
                        <div>Presión</div>
                        <div class="numeros-cards-ultimas">
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                            class="check-item"><p>100</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                            class="exclamación-item"><p>20</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                            class="peligro-item"><p>30</p></div>
                        </div>
                    </div>
                    <img src="https://img.icons8.com/?size=30&id=18747&format=png&color=4a4aff" alt="default-item"
                    class="default-item">
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>

            <mat-card appearance="outlined" class="generales-2">
                <mat-card-header class="header">
                    <div class="texto-espacio">
                        <div>Viento</div>
                        <div class="numeros-cards-ultimas">
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                            class="check-item"><p>100</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                            class="exclamación-item"><p>20</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                            class="peligro-item"><p>30</p></div>
                        </div>
                    </div>
                    <img src="https://img.icons8.com/?size=30&id=31842&format=png&color=4a4aff" alt="default-item"
                    class="default-item">
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>

            <mat-card appearance="outlined" class="generales2">
                <mat-card-header class="header">
                    <div class="texto-espacio">
                        <div>Niveles</div>
                        <div class="numeros-cards-ultimas">
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                            class="check-item"><p>100</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                            class="exclamación-item"><p>20</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                            class="peligro-item"><p>30</p></div>
                        </div>
                    </div>
                    <img src="https://img.icons8.com/?size=30&id=3106&format=png&color=4a4aff" alt="default-item"
                    class="default-item">
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
    </section>

    <br>

    <section class="generales">

            <mat-card appearance="outlined" class="generales2">
                <mat-card-header class="header">
                    <div class="texto-espacio">
                        <div>Energía</div>
                        <div class="numeros-cards-ultimas">
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                            class="check-item"><p>100</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                            class="exclamación-item"><p>20</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                            class="peligro-item"><p>30</p></div>
                        </div>
                    </div>
                    <img src="https://img.icons8.com/?size=30&id=77516&format=png&color=4a4aff" alt="default-item"
                    class="default-item">
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>

            <mat-card appearance="outlined" class="generales2">
                <mat-card-header class="header">
                    <div class="texto-espacio">
                        <div>Tensión</div>
                        <div class="numeros-cards-ultimas">
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                            class="check-item"><p>100</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                            class="exclamación-item"><p>20</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                            class="peligro-item"><p>30</p></div>
                        </div>
                    </div>
                    <img src="https://img.icons8.com/?size=30&id=ylMIb6LBwqom&format=png&color=4a4aff" alt="default-item"
                    class="default-item">
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>

            <mat-card appearance="outlined" class="generales2">
                <mat-card-header class="header">
                    <div class="texto-espacio">
                        <div>Monóxido de Carbono</div>
                        <div class="numeros-cards-ultimas">
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                            class="check-item"><p>100</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                            class="exclamación-item"><p>20</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                            class="peligro-item"><p>30</p></div>
                        </div>
                    </div>
                    <img src="https://img.icons8.com/?size=30&id=rbeD1p7PbOib&format=png&color=4a4aff" alt="default-item"
                    class="default-item">
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>

            <mat-card appearance="outlined" class="generales2">
                <mat-card-header class="header">
                    <div class="texto-espacio">
                        <div>Otros Gases</div>
                        <div class="numeros-cards-ultimas">
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                            class="check-item"><p>100</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                            class="exclamación-item"><p>20</p></div>
                            <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                            class="peligro-item"><p>30</p></div>
                        </div>
                    </div>
                    <img src="https://img.icons8.com/?size=30&id=2854&format=png&color=4a4aff" alt="default-item"
                    class="default-item">
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>

    </section>
</div>
</div>