<div class="container">
    <div class="presentacion">
        <h1 class="title">Monitoreo Global</h1>
        <div style="padding: 1rem">
            <button style="all: unset; cursor: pointer;">
                <img src="../../assets/Idioma.png" style="margin-right: 0.5rem">
            </button>
            <button style="all: unset; cursor: pointer;">
                <img src="../../assets/Ajustes.png" style="margin-right: 0.5rem">
            </button>
            <button style="all: unset; cursor: pointer;">
                <img src="../../assets/notification.png" style="margin-right: 0.5rem">
            </button>
            <b>juan rojas</b>
        </div>
    </div>
    <div class="presentacion-mobile">
        <h2>Resumen de Planta</h2>
    </div>
    <br>
    <section class="generales">
        <mat-card appearance="outlined" class="generales2">
            <mat-card-header class="header">
                <div class="texto-espacio">
                    <div>Lecturas OK</div>
                    <div><b>1.234</b></div>
                </div>
                    <img src="https://img.icons8.com/?size=30&id=98955&format=png&color=000000" 
                    alt="check"
                    class="check">
            </mat-card-header>
        <mat-card-content>
    </mat-card-content>
</mat-card>

            <mat-card appearance="outlined" class="generales2">
                <mat-card-header class="header">
                    <div class="texto-espacio">
                        <div>Alertas Medias</div>
                        <div><b>932</b></div>
                    </div>
                    <img src="https://img.icons8.com/?size=30&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación"
                    class="exclamación">
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>


            <mat-card appearance="outlined" class="generales2">
                <mat-card-header class="header">
                    <div class="texto-espacio">
                        <div>Alertas Rojas</div>
                        <div><b>932</b></div>
                    </div>
                    <img src="https://img.icons8.com/?size=30&id=59782&format=png&color=000000" alt="peligro"
                    class="peligro">
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>


            <mat-card appearance="outlined" class="generales2">
                <mat-card-header class="header">
                    <div class="texto-espacio">
                        <div>Sensores Deshabilitados</div>
                        <div><b>932</b></div>
                    </div>
                    <img src="https://img.icons8.com/?size=30&id=OpfeY8fFZX2F&format=png&color=000000" alt="exit"
                    class="exit">
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
</section>
    <br>
</div>