
.sidebar { 
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px; 
    background-color: #FFFFFF;
    padding-top: 20px;
}

.sidebar .navbar-nav {
    width: 100%;
}

.sidebar .nav-item {
    margin: 10px 0;
}

.sidebar .nav-link {
    color: #FFFFFF;
    text-align: center;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.sidebar .nav-link img {
    width: 30px;
    height: 30px;
}

.sidebar .nav-link.active {
    background-color: #FFFFFF;
    border-radius: 4px;
}
.logout{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.main-content {
    margin-left: 80px;
    padding: 20px;
}

.modal-header button {
    border: none;
    background: none;
    text-align: right;
    color: #FFFFFF;
}
